################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestAPI/bin/Debug/net6.0
/TestAPI/obj
